.GridContainer {
  margin: 1vw 20vw;
  display: inline-grid;
  grid-template-columns: repeat(20, 3vw);
  grid-template-rows: repeat(15, 3vw);
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.element {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.element:hover {
  background-color: blue;
}
