.EMPTY {
  background-color: black;
}
.WALL {
  background-color: red;
}
.SNODE {
  background-color: yellow;
}

.FNODE {
  background-color: orange;
}
.VISITED {
  animation-fill-mode: forwards;
  animation-name: visited;
  animation-duration: 1s;
}

@keyframes visited {
  from {
  }
  to {
    background-color: blue;
  }
}

.SHORTEST {
  animation-fill-mode: forwards;
  animation-name: shortest;
  animation-duration: 1s;
}

@keyframes shortest {
  from {
    background-color: blue;
  }
  to {
    background-color: green;
  }
}
