.container {
  margin-top: 1vw;
  margin-left: 20vw;
  display: inline-grid;
  grid-template-columns: repeat(6, 10vw);
}

button,
select {
  height: 3vw;
  background-color: rgb(5, 0, 68);
  margin: 0.2vw;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

select {
  text-align-last: center;
}

button:hover,
select:hover {
  background-color: purple;
}
